@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-stripes {
  -webkit-mask-image: url('https://i.imgur.com/xYBtnf5.png');
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url('https://i.imgur.com/xYBtnf5.png');
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
}
